// Заголовки, загальні БЕМ блоки та інше...

.page-head {
    padding: toRem(140) 0 toRem(80);
    display: flex;
    align-items: flex-start;
    column-gap: toRem(40);
    row-gap: toRem(30);
    width: 70%;

    @media (max-width:$tablet){
        width: 100%;
    }

    @media (max-width:$mobile) {
        padding: toRem(60) 0 toRem(40);
        flex-direction: column;
        align-items: center;
    }
}

.page-title {
    background-color: $greenColor;
    border-radius: toRem(7);
    padding: 0 toRem(7);

    @media (max-width:$mobile){
        text-align: center;
    }
}

.page-h2 {
    font-size: toRem(40);
    font-weight: 500;
    line-height: toRem(51);

    @media (max-width:$mobile){
        font-size: toRem(36);
    }
}

.page-h3 {
    font-size: toRem(30);
    font-weight: 500;
    line-height: toRem(38);

    @media (max-width:$mobile){
        font-size: toRem(26);
        line-height: toRem(33);
    }
}

.page-p {
    font-size: toRem(18);
    font-weight: 400;
    line-height: toRem(23);

    @media (max-width:$mobile){
        font-size: toRem(16);
    }
}
