//====================================================================================================
// Hero section

.hero {
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

     &__content {
        display: flex;
        flex-direction: column;
        max-width: toRem(530);
        row-gap: toRem(30);

        @media (max-width:$tablet){
            max-width: none;
            row-gap: toRem(20);
        }
    }

    &__content-title {
        font-size: toRem(60);
        font-weight: 500;

        @media (max-width:$tablet){
            h1 {
                padding-bottom: toRem(10);
            }
        }

        @media (max-width:$mobile){
            font-size: toRem(48); 
        }
    }

    &__content-text {
        font-size: toRem(20);
        line-height: toRem(28);
        font-weight: 400;

         @media (max-width:$mobile){
            font-size: toRem(16);
            line-height: toRem(24);
        }
    }

    &__icon {
        @media (max-width:$tablet){
            max-width: 80%;
            margin: 0 auto;
        }

        @media (max-width:$mobile){
             max-width: 100%; 
        }

            svg {
                width: 100%;
                height: auto;
            }
        }

    &__content-button {
        align-self: flex-start;

        @media (max-width:$mobile){
            margin-top: toRem(20);
            justify-content: center;
            width: 100%;
        }
    }   
}

// Company section 

.company {
    padding-top: toRem(70);

    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        row-gap: toRem(30);
        column-gap: toRem(50);

        @media (max-width:$tablet){
            justify-content: center;
        }
    }

    &__link {
        img {
            transition: filter 0.3s;
            filter: grayscale(1);

            @media (any-hover: hover) {
                &:hover{
                    filter: none;
                }
            }
        }
    }
}

// Cards section 

.services {
    &__cards {
        margin-bottom: toRem(100);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: toRem(40);

        @media (max-width:$tablet){
            grid-template-columns: 1fr; 
        }

        @media (max-width:$mobile){
            margin-bottom: toRem(70); 
        }
    }

    &__text {
        @media (max-width:$mobile){
             text-align: center; 
        }
    }
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: toRem(50);
    border: solid toRem(1) $darkColor;
    border-radius: toRem(45);
    min-height: toRem(310);
    box-shadow: 0 toRem(5) 0 #000;
    transition: all .3s;

    @media (max-width:$mobile){
        flex-direction: column;
    }

    &:active {
        transform: translateY(toRem(5));
        box-shadow: 0 0 0 #000;
    }

    &--grey {
        background-color: $greyColor;
    }

    &--green {
        background-color: $greenColor;
    }

    &--black {
        background-color: $darkColor;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-self: stretch;
        justify-content: space-between;
        
        @media (max-width:$mobile){
             row-gap: toRem(27); 
        }
    }

    &__content-title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: toRem(30);
        font-weight: 500;
        border-radius: toRem(7);

        span {
            border-radius: toRem(7);
            padding: toRem(3) toRem(7);
        }

        &--green {
            span {
                background-color: $greenColor;
            }
        }

        &--white {
            span {
                background-color: #fff;
                color: #000;
            }
        }
    }

    &__content-more {
        display: flex;
        align-items: center;
        column-gap: toRem(15);

        &--white {
            color: #fff;
        }

        @media (max-width:$mobile){
            align-items: end;
            justify-content: space-between;
        }
    }

    &__content-text {
        @media (max-width:$mobile){
            display: none;
        }
    }

    &__img {
        img {
            height: auto;
            @include adaptiveValue("width", 210, 165);
        }
    }
}

// Trial section 

.trial {

    &__wrapper {
        background-color: $greyColor;
        padding: toRem(60);
        border-radius: toRem(45);
        position: relative;

        @media (max-width:$mobile){
            padding: toRem(50); 
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        row-gap: toRem(26);
        max-width: toRem(500);

        @media (max-width:$mobile){
            row-gap: toRem(20); 
        }
    }

    &__deco {
        position: absolute;
        top: 50%;
        right: toRem(135);
        max-width: toRem(500);
        height: auto;
        transform: translateY(-50%);

        @media (max-width: toEm(1100)){
            right: toRem(40);
        }

        @media (max-width:$tablet){
            display: none;
        }
    }

    &__content-btn {
        align-self: start;

        @media (max-width:$mobile){
            align-self: center;
            // width: 100%;
        }
    }
}

//====================================================================================================
